:root {
  /* Couleurs */
  --color-background: #ffffff;
  --color-primary: #00786f;
  --color-red: #ef4444;
  --color-black: #111111;
  --color-event-favorite-selected: #fcc800;
  --color-event-favorite-unselected: #99a1af;

  /* Couleurs pour les évènements s'ils sont faits ou pas */
  --color-event-not-done-bg: #ffffff;
  --color-event-done-bg: #C9C9C9;

  /* Couleurs pour les types d'évènements */
  --color-tag-devoir: #4b8c2a;
  --color-tag-examen: #703C26;
  --color-tag-activite: #4c3cda;
  --color-tag-sport: #a21caf;

  /* Couleurs pour les groupes (ex: FIL A1) */
  --color-groupe-txt: var(--color-black);
  --color-groupe-bg: #9effff;
  --color-groupe-border: #54e4e4;

  /* Couleurs pour les TAGS (Types d'événements - Style Neutre/Bordé) */
  --color-tag-devoir-txt: var(--color-tag-devoir);
  --color-tag-devoir-bg: transparent;
  --color-tag-devoir-border: var(--color-tag-devoir);
  --color-tag-examen-txt: var(--color-tag-examen);
  --color-tag-examen-bg: transparent;
  --color-tag-examen-border: var(--color-tag-examen);
  --color-tag-activite-txt: var(--color-tag-activite);
  --color-tag-activite-bg: transparent;
  --color-tag-activite-border: var(--color-tag-activite);
  --color-tag-sport-txt: var(--color-tag-sport);
  --color-tag-sport-bg: transparent;
  --color-tag-sport-border: var(--color-tag-sport);

  /* font */
  --font-main: 'Inter', system-ui, -apple-system, sans-serif;
}
